<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> HOME </title>
</head>
<body>
    <header class ="header">
        <img src="images/logo-mercado-liebre.svg">
        <p> lugar para poner la barra de busqueda</p>
        <p> Comprá en cuotas y sin tarjeta de crédito </p>
        <div><ul>
            <li>ofertas</li>
            <li>tienda Oficiales</li>
            <li>Vender </li>
            <li>ayuda </li>
        </ul>
        </div>
        <div><ul>
            <li>Crea tu Cuenta</li>
            <li>Ingresa </li>
            <li>Mis compras </li>
        </ul>
        </div>
    </header>
    
    <main>
        
            <section>
                <h1> Basado en tu última visita </h1> 
                <article> 
                    <img src="images/img-cafetera-moulinex.jpg">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <b>Cafetera Moulinex</b>
                </article>
                
                <article> 
                    <img src="images/img-macbook-pro-2019.jpg">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <b>MacBook Pro 2019</b>
                </article>
                    <article> 
                    <img src="images/img-samsung-galaxy-s10.jpg">
                    <p>$70.500</p>
                    <p> >10% OFF</p>
                    <b>Samsung Galaxy S10</b>
                </article>
                <article> 
                    <img src="images/img-tv-samsung-smart.jpg">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <b>SmarTv Samsung 43"</b>
                </article>
            </section>
            
            <section>
                <h1>Sección de Ofertas</h1>
                <article> 
                    <img src="images/img-cafetera-moulinex.jpg">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <b>Cafetera Moulinex</b>
                </article>
                
                <article> 
                    <img src="images/img-macbook-pro-2019.jpg">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <b>MaBook Pro 2019</b>
                </article>
                    <article> 
                    <img src="images/img-samsung-galaxy-s10.jpg">
                    <p>$70.500</p>
                    <p> >10% OFF</p>
                    <b>Samsung Galaxy S10</b>
                </article>
                <article> 
                    <img src="images/img-tv-samsung-smart.jpg">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <b>SmarTv Samsung 43"</b>
                </article>
            </section>
    </main>

    <footer>
        <div>
            
            <div> 
                <B>pagá con tarjeta o en efectivo</b>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en</p>
                <p>puntos de pago. ¡Y siempre es seguro! </p>              
            </div>
            
            <div>
                <b>Envío gratis desde $ 2.500</b>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de</p>
                <p>productos. Es un beneficio de Mercado Puntos.</p>
            </div> 

            <div>
                <b>Seguridad, de principio a fin</b>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,</p>
                <p>porque estás siempre protegid@</p>
            </div>
            <div><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
            
        </div>    
        
           
           
           
            


    </footer>   
</body>
</html>