.titular{ font-size:24px;}
.cuerpo{ font-size: 12px;}
.precio{font-size: 18px;}
.descuneto{ font-size: 16px;}
.descripcion{ font-size: 16px;}

img{
    width: 100%;
}

header{
    background-color: #eac926;
}

.burger-menu{
    text-align: center;
      
}
.burger-menu button{
    background-color: blue
}

footer{
    text-align: center;
}
